ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

li {
  font-family: "Comic Sans MS", cursive, sans-serif;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: gainsboro;
}

header {
  background-color: lightgoldenrodyellow;
  padding: 10px;
}

footer {
  background-color: lemonchiffon;
  font-family: "Comic Sans MS", cursive, sans-serif;
  align-content: center;
  color: deepskyblue;
  padding: 10px;
}
h1{
    color: deepskyblue;
    background-color: lemonchiffon;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

